# Ignore the build directory
telimedic/build

# Ignore virtual environment directories
# llm/.venv
**/venv*

# Ignore model files
# llm/model/*
llm/model/*

# Ignore environment variable files
# llm/.env
.env

# Ignore specific model files
api/llm/models--mtgv--MobileLLaMA-1.4B-Chat

# Ignore .DS_Store files
**/.DS_Store*
.DS_Store

# Ignore gguf files
*.gguf
