# Ignore the build directory
telmed/build

# Ignore virtual environment directories
# llm/.venv
**/venv*

# Ignore environment variable files
# llm/.env
.env

# Ignore specific model files
api/chat/model/

# Ignore .DS_Store files
**/.DS_Store*
.DS_Store

# Ignore gguf files
*.gguf
api/src/main/java/com/telmed/api/service/chat/model/**
